html { background-color: #ecf0f5; }
.main-footer {position: fixed; bottom: 0px; width: 100%;}
#toast-container{top:70px;}
.table-actions {width: 140px;}


html, .wrapper {
  background-color: #fff!important;
}  
.login-box-body {
  background-color: #eee;
}
