<div role="form">
<div class="box-body">
  <field id="name" label="Nome" placeholder="Insira o nome" grid="12 6 4"
    model="bcCtrl.billingCycle.name" readonly="bcCtrl.tabDelete"></field>
  <field type="number" id="month" label="Mês" placeholder="Insira o Mês"
    grid="12 6 4" readonly="bcCtrl.tabDelete"
    model="bcCtrl.billingCycle.month" ></field>
  <field type="number" id="year" label="Ano" placeholder="Insira o Ano"
    grid="12 6 4" readonly="bcCtrl.tabDelete"
    model="bcCtrl.billingCycle.year"></field>

    <div class="col-xs-12">
      <fieldset>
        <legend>Resumo</legend>
        <div ng-include="'billingCycle/summary.html'"></div>
      </fieldset>

    </div>


    <div class="col-xs-12 col-sm-6">
      <fieldset>
        <legend>Créditos</legend>
        <div ng-include="'billingCycle/creditList.html'"></div>
      </fieldset>
    </div>
    <div class="col-xs-12 col-sm-6">
      <fieldset>
        <legend>Débitos</legend>
        <div ng-include="'billingCycle/debtList.html'"></div>
      </fieldset>
    </div>
  </div>
  <div class="box-footer">
    <button ng-if="bcCtrl.tabCreate" class="btn btn-primary" ng-click="bcCtrl.create()">Incluir</button>
    <button class="btn btn-info" ng-click="bcCtrl.update()" ng-if="bcCtrl.tabUpdate">Alterar</button>
    <button ng-click="bcCtrl.delete()" ng-if="bcCtrl.tabDelete" class="btn btn-danger">Excluir</button>
    <button ng-click="bcCtrl.refresh()" class="btn btn-default">Cancelar</button>
  </div>
</div>
